<div class="container">
    <%= form_with(model: @character, local: true, class: "login-form") do |form| %>
        <div class="field text-field mui-textfield">
            <%= form.label :name %>
            <%= form.text_field :name %>
        </div>
        <div class="actions">
            <%= form.submit value: "Submit", class: "mui-btn mui-btn--primary", id: "submit-btn" %>
        </div>
    <% end %>
</div>